<!doctype html>
<html lang="fr" dir="ltr" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<title>MedApp</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="/css/style_menu.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


</head>
<body>

<header>
	<div class="inner-width">
		<i class="menu-toggle-btn fas fa-bars"></i>
		<nav class="navigation-menu">
			<a href="#accueil"><i class="fas fa-home accueil"></i>Accueil</a>
			<a href="#mon-espace"><i class="fas fa-align-left profil"></i>Mon espace</a>
			<a href="#medecins"><i class="fas fa-hospital medecin"></i>Medecins</a>
			<a href="#calendrier"><i class="fas fa-calendar calendrier"></i>Mes Rendez-vous</a>
			<a href="#informations"><i class="fas fa-info contact"></i>Informations</a>
			<!-- <li sec:authorize="isAuthenticated()">--><a th:href="@{/logout}"><i class="fas fa-sign-out-alt deconnexion"></i>Logout</a><!--</li>-->
		</nav>
	</div>
</header>

<section class="accueil-area" id="accueil">
	<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			<li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
		</ol>
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img class="d-block w-100" src="https://images.pexels.com/photos/355934/pexels-photo-355934.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="First slide">
				<div class="carousel-caption d-none d-md-block">
					<h5>Bienvenue sur NewMedApp</h5>
					<p>Une interface pratique, pour une prise de rendez-vous rapide et simple !</p>
				</div>
			</div>
			<div class="carousel-item">
				<img class="d-block w-100" src="https://images.pexels.com/photos/3845553/pexels-photo-3845553.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Second slide">
				<div class="carousel-caption d-none d-md-block">
					<h5> Une diversification des spécialisations</h5>
					<p>Venez rencontrer nos spécialistes ! </p>
				</div>
			</div>
			<div class="carousel-item">
				<img class="d-block w-100" src="https://images.pexels.com/photos/5452209/pexels-photo-5452209.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="Third slide">
				<div class="carousel-caption d-none d-md-block">
					<h5>Un rendez vous en un clique</h5>
					<p>Prenez rendez-vous n'importe quand et n'importe où !</p>
				</div>
			</div>
		</div>
		<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="sr-only">Previous</span>
		</a>
		<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="sr-only">Next</span>
		</a>
	</div>
</section>

<section class="mon-espace-area" id="mon-espace">

	<div class="left">
		<h4>Session: <span sec:authentication="principal.username"></span></h4>
	</div>

	<h1>Mon espace</h1>

		<p class="info">Bienvenue sur NewMepApp, un moyen simple et rapide pour prendre vos rendez-vous médicaux.
			Si vous souhaitez avoir de plus amples informations sur nos médecins, vous pouvez vous diriger sur l'onglet <a href="#medecins">Médecins</a>
			ou encore l'onglet <a href="#informations">Informations</a> qui vous informera sur les différentes spécialités.<br>
			<a href="#calendrier">Prendre un rdv ?</a></p>

</section>

<section class="medecins-area" id="medecins">
	<div class="tableau">
		<div class="header">
			<div class="title">
				Recherche des medecins
			</div>
			<div class="search_box">
				<input type="text" id="searchInput" placeholder="Filtrer par la spécialité">
			</div>
		</div>
		<div class="table_wrap">
			<div class="table_header">
				<ul>
					<li>
						<div class="item">
							<div class="nom">
								<span>NOM</span>
							</div>
							<div class="age">
								<span>AGE</span>
							</div>
							<div class="ville">
								<span>VILLE</span>
							</div>
							<div class="specialite">
								<span>SPECIALITE</span>
							</div>
							<div class="tarif">
								<span>TARIF</span>
							</div>
						</div>
					</li>
				</ul>
			</div>
			<div class="table_body">
				<ul>
					<li>
						<div class="item">
							<div class="nom">
								<span>STAN Smith</span>
							</div>
							<div class="age">
								<span>35 ans</span>
							</div>
							<div class="ville">
								<span>Paris</span>
							</div>
							<div class="specialite">
								<span>Médecin généraliste</span>
							</div>
							<div class="tarif">
								<span>25€</span>
							</div>
						</div>
					</li>
					<li>
						<div class="item">
							<div class="nom">
								<span>CROSS Christelle</span>
							</div>
							<div class="age">
								<span>63 ans </span>
							</div>
							<div class="ville">
								<span>Lyon</span>
							</div>
							<div class="specialite">
								<span>Ostéopathe</span>
							</div>
							<div class="tarif">
								<span>50€</span>
							</div>
						</div>
					</li>
					<li>
						<div class="item">
							<div class="nom">
								<span>LEHMANN Jack</span>
							</div>
							<div class="age">
								<span>27 ans </span>
							</div>
							<div class="ville">
								<span>Marseille</span>
							</div>
							<div class="specialite">
								<span>Dermatologue</span>
							</div>
							<div class="tarif">
								<span>45€</span>
							</div>
						</div>
					</li>
					<li>
						<div class="item">
							<div class="nom">
								<span>RAY Richard</span>
							</div>
							<div class="age">
								<span>64 ans</span>
							</div>
							<div class="ville">
								<span>Paris</span>
							</div>
							<div class="specialite">
								<span>Chirurgien viscéral</span>
							</div>
							<div class="tarif">
								<span>90€</span>
							</div>
						</div>
					</li>
					<li>
						<div class="item">
							<div class="nom">
								<span>OLIVER Marie</span>
							</div>
							<div class="age">
								<span>32 ans</span>
							</div>
							<div class="ville">
								<span>Lyon</span>
							</div>
							<div class="specialite">
								<span>Dermatologue</span>
							</div>
							<div class="tarif">
								<span>36€</span>
							</div>
						</div>
					</li>
					<li>
						<div class="item">
							<div class="nom">
								<span>TARDU Marc</span>
							</div>
							<div class="age">
								<span>55 ans</span>
							</div>
							<div class="ville">
								<span>Marseille</span>
							</div>
							<div class="specialite">
								<span>Ophtalmologue</span>
							</div>
							<div class="tarif">
								<span>40€</span>
							</div>
						</div>
					</li>
					<li>
						<div class="item">
							<div class="nom">
								<span>MAX Johnson</span>
							</div>
							<div class="age">
								<span>41 ans</span>
							</div>
							<div class="ville">
								<span>Paris</span>
							</div>
							<div class="specialite">
								<span>Dermatologue</span>
							</div>
							<div class="tarif">
								<span>55€</span>
							</div>
						</div>
					</li>
					<li>
						<div class="item">
							<div class="nom">
								<span>VASSIA Célia</span>
							</div>
							<div class="age">
								<span>66 ans</span>
							</div>
							<div class="ville">
								<span>Lyon</span>
							</div>
							<div class="specialite">
								<span>Pédiatre</span>
							</div>
							<div class="tarif">
								<span>30€</span>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!--	<script src="/templates/scripts.js"></script>-->
	</div>
</section>

<section class="calendrier-area" id="calendrier">


	<div class="rdv-section">

		<h1>Prise de rendez-vous</h1>
		<div class="border"></div>
		<form   th:action="@{/}"  th:object="${nvx_msg}"   class="rdv-form" method="POST">

				<input type="text" th:field="*{nom}" class="rdv-form-text" placeholder="Nom">

				<input type="text" th:field="*{prenom}" class="rdv-form-text" placeholder="Prénom">

				<input type="text" th:field="*{tel}" class="rdv-form-text" placeholder="Téléphone">

				<input type="number" th:field="*{age}" min="2" max="99" class="rdv-form-text" placeholder="Âge">

			<!--	<input type="text" th:field="*{rdv}" class="rdv-form-text" placeholder="Type de rendez-vous">-->


				<select  th:field="*{rdv}" class="rdv-form-text" >
					<option th:value="a">Liste des médecins</option>
					<option th:value="généraliste">STAN Smith, 35 ans, médecin généraliste à Paris, 25 euros</option>
					<option th:value="ostéopathe">CROSS Christelle, 63 ans, ostéopathe à Lyon, 50 euros</option>
					<option th:value="dermatologue">LEHMANN Jack, 27 ans, dermatologue à Marseille, 45 euros</option>
					<option th:value="chirurgien">RAY Richard, 64 ans, chirurgien viscéral à Paris, 90 euros</option>
					<option th:value="dermatologue">OLIVER Marie, 32 ans, dermatologue à Lyon, 36 euros</option>
					<option th:value="ophtalmologue ">TARDU Marc, 55 ans, ophtalmologue à Marseille, 45 euros</option>
					<option th:value="dermatologue">MAX Johnson, 41 ans, dermatologue à Paris, 55 euros</option>
					<option th:value="pediatre">VASSIA Célia, 66 ans, pediatre à Lyon, 30 euros</option>
				</select>



			<label class="rdv-form-text">Date de rendez-vous:             <input type="date" th:field="*{date}"></label>


			<input type="submit"  class="rdv-form-btn" value="Prendre un rendez-vous">
		</form>
	</div>




	<!--********    affichage rdv    ********/-->

	<table class="tabrdv-style">
		<thead>
		<tr>
			<th>Nom du Patient</th>
			<th>Prénom du Patient</th>
			<th>Tél</th>
			<th>Âge du patient</th>
			<th>Type de rendez-vous</th>
			<th>Date de rendez-vous</th>
			<th>Annuler un rendez-vous</th>
		</tr>
		</thead>
		<tbody>
			<tr    th:each="mymsg:${list_msg}">
			<td><p th:text="${mymsg.nom}">th:text></p></td>
			<td><p th:text="${mymsg.prenom}">th:text></p></td>
			<td><p th:text="${mymsg.tel}">th:text></p></td>
			<td><p th:text="${mymsg.age}">th:text></p></td>
			<td><p th:text="${mymsg.rdv}">th:text></p></td>
			<td><p th:text="${mymsg.date}">th:text></p></td>
				<td><form action="#" th:action="@{'/{id}'(id=${mymsg.id})}" th:method="delete" >
					<input type="submit" name="_method" value="Supprimer un rendez-vous" class="rdv-form-btn-2" />

				</form></td>

		</tr>
		</tbody>
	</table>

</section>


<section id="informations" class="informations-area">

	<div class="container">

		<div class="section-title">
			<h2>Informations</h2>
			<p>Informations spécialités médiacles proposées</p>
		</div>

		<div class="row">
			<div class="col-lg-3">
				<ul class="nav nav-tabs flex-column">
					<li class="nav-item">
						<a class="nav-link active show" data-toggle="tab" href="#tab-1">Médecin géneraliste</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#tab-2">Osthéopathe</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#tab-3">Dermatologue</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#tab-4">Chirurgien viséral</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#tab-5">Ophtalmologue</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#tab-6">Pédiatre</a>
					</li>
				</ul>
			</div>
			<div class="col-lg-9 mt-4 mt-lg-0">
				<div class="tab-content">
					<div class="tab-pane active show" id="tab-1">
						<div class="row">
							<div class="col-lg-8 details order-2 order-lg-1">
								<h3>Médecin géneraliste</h3>
								<p class="font-italic">Médecin proposé : M.STAN Smith</p>
								<p>Le métier de Médecin généraliste consiste à détecter les maux de ses patients et leur
									prescrire des médicaments adaptés. Le médecin généraliste est à la base de la chaîne médicale.
									Lors de la consultation, il interroge le patient, prend connaissance des symptômes. Il peut être
									amené à ausculter le patient par palpation ou par le biais d’instruments pour la prise de la tension
									par exemple. Dans certains cas, le médecin généraliste les oriente vers un spécialiste</p>
							</div>
							<div class="col-lg-4 text-center order-1 order-lg-2">
								<img src="/img/departments-1.jpg" alt="" class="img-fluid">
							</div>
						</div>
					</div>
					<div class="tab-pane" id="tab-2">
						<div class="row">
							<div class="col-lg-8 details order-2 order-lg-1">
								<h3>Osthéopathe</h3>
								<p class="font-italic">Médecin proposé : Mme.CROSS Christelle </p>
								<p>L’ostéopathe recueille le maximum d’informations sur les troubles ou douleurs décrites et fait le bilan des antécédents et
									traitements médicaux du patient (maladies, accidents, opérations, traumatismes…). Il incite
									ce dernier à fournir une description précise des symptômes ressentis. Le praticien passe ensuite
									à la phase active de son acte thérapeutique en pratiquant des palpations et massages lents et
									minutieux sur le corps du patient. Il recherche les points de blocage ou douloureux sur des
									membres, des articulations, des viscères, sur la colonne vertébrale. Dans certains cas il a
									recours à des rotations, des tractions, des poussées ou des étirements sans aucune violence
									gestuelle. Ce professionnel de santé n’utilise que ses mains et le toucher pour diagnostiquer et
									traiter un mal occasionnel ou récurrent. Il détecte les tensions L’ostéopathe est surtout
									consulté pour des problèmes d’origine vertébrale (lombalgie), des entorses, tendinites, mais
									aussi de stress ou suite à une opération chirurgicale. Il traite également des troubles
									digestifs, ORL ou urinaires.</p>
							</div>
							<div class="col-lg-4 text-center order-1 order-lg-2">
								<img src="/img/departments-2.jpg" alt="" class="img-fluid">
							</div>
						</div>
					</div>
					<div class="tab-pane" id="tab-3">
						<div class="row">
							<div class="col-lg-8 details order-2 order-lg-1">
								<h3>Dermatologue</h3>
								<p class="font-italic">Médecins proposés : M.LEHMANN Jack / Mme.OLIVIER Marie / M.MAX Johnson</p>
								<p>Le dermatologue est le médecin spécialiste de la peau, des ongles et du cuir chevelu. Toutes
									les affections cutanées sont de son ressort : acné, verrues, mais aussi brûlures, IST, cancers… Il peut
									accomplir par ailleurs des actes chirurgicaux.L’acné chez l’adolescent(e), l’eczéma, le psoriasis,
									les kystes cutanés, les verrues, les grains de beauté suspects, l’herpès buccal ou génital,
									les démangeaisons, l’urticaire ou encore la couperose… Ces pathologies, les plus courantes, sont
									traitées directement au cabinet du dermatologue. Les diagnostics qu’il délivre, les traitements
									qu’il prescrit et les examens plus approfondis qu’il recommande de faire à l’hôpital, en service
									spécialisé, concernent toutes les catégories d’âge, du nourrisson au vieillard.</p>
							</div>
							<div class="col-lg-4 text-center order-1 order-lg-2">
								<img src="/img/gallery-5.jpg" alt="" class="img-fluid">
							</div>
						</div>
					</div>
					<div class="tab-pane" id="tab-4">
						<div class="row">
							<div class="col-lg-8 details order-2 order-lg-1">
								<h3>Chirurgien viséral</h3>
								<p class="font-italic">Médecin proposé : M.RAY Richard</p>
								<p>Le chirurgien est un spécialiste qui pratique des interventions chirurgicales (opérations) qui peuvent
									concerner toutes les parties du corps : tumeurs, fractures, organes défectueux, hémorragies,
									transplantations, etc. Après avoir fait réaliser des examens préliminaires, le chirurgien décide, en
									accord avec le patient et les autres professionnels de santé (sauf en cas d’urgence), s’il faut opérer ou
									non, à la suite de quoi il définit le mode d’intervention opératoire. Le cœur de métier du chirurgien a
									pour cadre le bloc opératoire (ou « salle d’op » aseptisée) d’un centre hospitalier ou d’une clinique.
									Durant l’intervention, qui peut durer plusieurs heures en fonction de l’opération, il est entouré de
									toute une équipe de spécialistes : anesthésistes, infirmières de bloc opératoire, réanimateurs.</p>
							</div>
							<div class="col-lg-4 text-center order-1 order-lg-2">
								<img src="/img/gallery-1.jpg" alt="" class="img-fluid">
							</div>
						</div>
					</div>
					<div class="tab-pane" id="tab-5">
						<div class="row">
							<div class="col-lg-8 details order-2 order-lg-1">
								<h3>Ophtalmologue</h3>
								<p class="font-italic">Médecin proposé : M.TARDU Marc</p>
								<p>L’ophtalmologie est une spécialité très riche qui va bien au-delà de la prescription de
									collyres et de verres correcteurs ! En effet, l’œil peut être le révélateur de plusieurs
									maladies (diabète, hypertension, maladies infectieuses…) : la veille médicale de l’ophtalmologue
									est donc primordiale pour une prise en charge rapide et efficace des pathologies. Il effectue
									aussi des tâches plus techniques de mesure et des calculs avec différents appareils électroniques.
									Ce métier exige donc des connaissances pointues dans diverses spécialités (traumatologie, neurologie,
									diabétologie…). L’ophtalmologue est aussi appelé ophtalmologiste ou oculiste.</p>
							</div>
							<div class="col-lg-4 text-center order-1 order-lg-2">
								<img src="/img/departments-5.jpg" alt="" class="img-fluid">
							</div>
						</div>
					</div>
					<div class="tab-pane" id="tab-6">
						<div class="row">
							<div class="col-lg-8 details order-2 order-lg-1">
								<h3>Pédiatre</h3>
								<p class="font-italic">Médecin proposé : Mme.VASSIA Célia</p>
								<p>Le pédiatre assure la prise en charge globale de l'enfant. Le pédiatre intervient à
									la maternité, dès la naissance de l’enfant, pour contrôler réflexes, mobilité, position
									des hanches et souplesse. Dans ce cadre, le pédiatre dépiste d’éventuelles anomalies
									anatomiques, sensorielles ou psychiques. Dans son cabinet, il pratique les vaccinations
									obligatoires ou conseillées par les autorités de santé. Le pédiatre dépiste et traite
									toutes les maladies infantiles auxquelles peu de sujets échappent au cours de leur
									croissance : varicelle, rhinopharyngite, angine, rougeole, oreillons.</p>
							</div>
							<div class="col-lg-4 text-center order-1 order-lg-2">
								<img src="/img/doctors-2.jpg" alt="" class="img-fluid">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>





</section>

<footer id="footer">

	<div class="footer-top">
		<div class="container">
			<div class="row">

				<div class="col-lg-3 col-md-6 footer-contact">
					<h3>NewMedapp</h3>
					<p>
						CHEROUALI Rayane <br>
						RAKOTOBE Känza<br>

						<strong>Lieu:</strong> ESIEA PARIS<br>

					</p>
				</div>

				<div class="col-lg-2 col-md-6 footer-links">
					<h4>Liens</h4>
					<ul>
						<li> <a href="#accueil"><i class="fas fa-home accueil"></i>Accueil</a></li>
						<li> <a href="#mon-espace"><i class="fas fa-align-left profil"></i>Mon espace</a></li>
						<li> <a href="#medecins"><i class="fas fa-hospital medecin"></i>Medecins</a></li>
						<li> <a href="#calendrier"><i class="fas fa-calendar calendrier"></i>Mes Rendez-vous</a></li>
						<li> <a href="#informations"><i class="fas fa-info contact"></i>Informations</a></li>
						<li> <a th:href="@{/logout}"><i class="fas fa-sign-out-alt deconnexion"></i>Logout</a></li>


					</ul>
				</div>




			</div>
		</div>
	</div>

	<div class="container d-md-flex py-4">

		<div class="mr-md-auto text-center text-md-left">
			<div class="copyright">
				&copy; Copyright <strong><span>NewMedapp</span></strong>. All Rights Reserved
			</div>
			<div class="credits">

				Designed by <a href="https://github.com/KanzaRako/NewMedApp">CHEROUALI Rayane et RAKOTOBE Känza</a>
			</div>
		</div>

	</div>
</footer>
<div id="preloader"></div>
<a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
<script src="/script/scripts.js"></script>
<script src="/script/menu.js"></script>




</body>
</html>
