<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" >
<head>
	<meta charset="utf-8">
	<title>Registration</title>

	<link rel="stylesheet" type="text/css" href="/css/style_co.css" />

	<title>Connexion</title>

	<script language="javascript"></script>
</head>

<body>

<!-- message erreur -->

<form class="box" action="index.html" method="post"  th:action="@{/login}">

	<div th:if="${param.error}">
		<div class="information-box">
			<div class="alert alert-danger">Identifiant et/ou mot de passe invalide.</div>
		</div>
	</div>


	<!--  message deconnexion -->
	<div th:if="${param.logout}">
		<div class="information-box">
			<div class="alert alert-info">Vous vous êtes déconnecté.</div>
		</div>
	</div>


	<h2>Formulaire de connexion</h2>



	<input type="text"  id ="username"  name="username" placeholder="identifiant">

	<input type="password"  id="password" name="password" placeholder="mot de passe">


	<button class="zidane">Connexion</button>


	<p class="bottomText">Vous n'avez pas de compte ?  <a href="/" th:href="@{/registration}">Créez-en un !</a></p>


</form>
</body>
</html>