<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" >
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="/css/style_reg.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
	<script language="javascript"></script>
</head>
<body>


<!-- Create HTML registration form -->



<form class="box" th:action="@{/registration}" method="post" th:object="${user}">

	<!-- success message -->
	<div th:if="${param.success}">
		<div class="info">Vous vous êtes bien enregistré!</div>
	</div>



	<h2>Enregistrement</h2>

	<div class liste>

		<div prenom>
			<!--<label class="control-label" for="firstName"> Prénom </label>-->
			<i class="fa fa-address-book-o prenom"  aria-hidden="true" for="firstName"></i> Prénom
			<input id="firstName" class="form-control" th:field="*{firstName}"/>
		</div>

		<div nom>
			<!--<label class="control-label" for="lastName"> Nom </label>-->
			<i class="fa fa-address-book-o nom"  aria-hidden="true" for="lastName"></i> Nom
			<input id="lastName" class="form-control" th:field="*{lastName}"/>
		</div>

		<div email>
			<!--<label class="control-label" for="email"> Email </label>-->
			<i class="fa fa-id-card nom"  aria-hidden="true" for="email"></i> Email
			<input id="email" class="form-control" th:field="*{email}"/>
		</div>

		<div mdp>
			<!--<label class="control-label" for="password"> mot de passe </label>-->
			<i class="fa fa-key mdp"  aria-hidden="true" for="password"></i> Mot de passe
			<input id="password" class="form-control" type="password" th:field="*{password}"/>
		</div>

		<div button>
			<button type="submit" class="zidane">Enregistrement</button>
			<p>Déja enregistré ? <a href="/" th:href="@{/login}">Connecte toi ici !</a></p>
		</div>
	</div>
</form>

</body>
</html>